
// background-sizeは見切れないよう調整する
.parallax01,.parallax02 {
	height: 300px;
	background: no-repeat #eee center / auto 150%;
	@media (min-width: 768px) {
		height: 500px;
		background-size: 120% auto;
	}
}

.parallax01 {
	background-image: url(../images/bg01.jpg);
}
.parallax02 {
	background-image: url(../images/bg02.jpg);
}

/**
 * レイアウトのためのスタイル
 */
.scroll {
	margin: 500px 0;
}
.blank {
	height: 500px;
}
